:root{
    --auth-bg: #d7d5d5;
    --btn-primary: #009dff;
    --input-color: rgb(65, 64, 64);
}

.main-bar{
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    margin-top: 10px;
    padding: 10px 5px;
    background-color: var(--btn-primary);
    border: 1px solid var(--btn-primary);    
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transform: .2s;
    font-size: 14px;
    font-weight: 500;
    transition: all .2s;
    text-decoration: none;
}

.ask-btn:hover{
    background-color: #018ce3;
}

.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: solid 1px #edeff0;
    border-radius: 5px;
}

.display-question-container .display-votes-ans{
    padding: 20px;
}

.display-question-container.display-votes-ans p{
    margin: 0%;
    text-align: center;
}

.display-question-details{
    flex-grow: 1;
    padding: 0px 20px;
}
.display-question-details p{
   padding: 4px;
   margin: 0%; 
}

.question-title-link{
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}

.question-title-link:hover{
    /* text-decoration: none; */
    color: #009dff;
}

.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}

.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;

}
 
.display-tags-time .display-time{
    font-size: 13px;
}

